@font-face {
    font-family: "Noto Serif Traditional Chinese";
    src: url(../fonts/NotoSerifTC-Regular.ttf);
}
@font-face {
    font-family: "Bounded";
    src: url(../fonts/ofont.ru_Bounded.ttf);
}
@font-face {
    font-family: "Bonche";
    src: url(../fonts/ofont.ru_Bonche.ttf);
}
@font-face {
    font-family: "Mak";
    src: url(../fonts/mak.otf) format("woff2");
}
@font-face {
    font-family: "Cezanne";
    src: url(../fonts/p22-cezanne-pro.otf) format("woff2");
}
