@font-face {
    font-family: "Noto Serif Traditional Chinese";
    src: url(../fonts/NotoSerifTC-Regular.ttf);
}
@font-face {
    font-family: "Bounded";
    src: url(../fonts/ofont.ru_Bounded.ttf);
}
@font-face {
    font-family: "Bonche";
    src: url(../fonts/ofont.ru_Bonche.ttf);
}
@font-face {
    font-family: "MAK";
    src: url("../fonts/mak.otf") format("opentype"),
         url("../fonts/mak.woff2") format("woff2"),
         url("../fonts/mak.woff") format("woff");
    font-weight: normal; /* или 400 */
    font-style: normal;
    font-display: swap; /* для оптимизации загрузки */
}
